.muski-performance-rnn-ui {

  #resettingText {
    font-size: 20px;
    transition: opacity 1s;
    text-align: center;
    margin-top: 15px;
  }

  .muski-performance-rnn-pad {
    position: relative;
    width: auto;
    max-width: 600px;
    height: 400px;
    margin: auto;
    border: 8px solid black;
    overflow: hidden;
    user-select: none;
    cursor: pointer;

    .pointer {
      opacity: 0;
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #ffacd9;
      transform: translate(calc(-50% - 8px), calc(-50% - 8px)) scale(0.5);
      transition: opacity 1s ease-out, transform 1s ease-out;

      &.visible {
        opacity: 1;
        transform: translate(calc(-50% - 8px), calc(-50% - 8px)) scale(1);
        transition: opacity 2s linear, transform 3s ease-in;
      }
    }
  }

  .ui-panel {
    display: none;
  }

  .axis-label {
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }

  .axis-label-x {
    text-anchor: middle;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  .axis-label-y {
    text-align: center;
    height: 100%;
    writing-mode: vertical-lr;
  }
}
